<?xml version="1.0" encoding="utf-8" ?>
<ModConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Id>Innominate.TunnelBore</Id>
  <Name>Tunnel Bore</Name>
  <Version>2</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
[h1]Interplanetary Boring Company Presents: Tunnel Bore[/h1]

By re-purposing some abandoned technology, the Interplanetary Boring Company (no relation to the Earth based company) has been able to produce some excellent tools for the survivor to automate some aspects of their defense.


[h1]Details[/h1]

Each boring machine will operate up to 256 blocks in the direction they are facing, and bores extremely quickly.  They only destroy garbage blocks, including Reinforced blocks, and leave all ores, machines, and other types of blocks alone.

Each block removed costs 10 power, and each machine operates one layer at a time.  In the case of the stair case, this is up to 140 blocks per second.  Air blocks consume no power.

Unlike the BFL, these machines can be safely rotated after placement, and they will correctly bore in any orientation (including upside down, vertically, or sideways).


[h1]Stair Case Tunnel Bore[/h1]

A great tool able to dig a stair case pattern with a base of 5 blocks, and height of 10.  This works well for funneling melted cryoplasm into a dazzler trench.


[h1]3x3 Tunnel Bore[/h1]

Quickly digs in a 3x3 pattern.  Can be used to rapidly dig dazzler trenches.
  </Description>
</ModConfiguration>