<?xml version="1.0" encoding="utf-8" ?>
<ModConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Id>Innominate.TunnelBore</Id>
  <Name>Tunnel Bore</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
    A useful tunnel bore for fighing the cryoplasm.  Create a V shaped attack tunnel.
  </Description>
</ModConfiguration>